<mat-toolbar class="header" color="primary">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/img/logomarca.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a  md-button routerLink="{{headerData.routeUrl}}">
            <i class="material-icons">
                {{headerData.icon}}
            </i>
            {{headerData.title}}
        </a>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="changeTheme()">
        <i class="material-icons">
            brightness_6
        </i>
      </button>
</mat-toolbar>