@import "~@angular/material/theming";
@import "./theme.scss";

@include mat-core();
@include angular-material-theme($app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-theme {
  @include angular-material-color($app-dark-theme);
}

.msg-success {
    background-color: #28a745;
    color: #fff;
}

.msg-error {
    background-color: #e35e6b;
    color: #fff;
}